@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

/*optional hero section*/


.navbar {
    display: flex;
    width: 100%;
    font-family: "Fira Sans", serif;
    background-color: #f5f5f5;
    padding: 24px 70px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

/*bangladesh2.0*/
.navbar p {
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
}

/*Sign In button*/

.navber button,
.btn1 {
    color: #006A50;
    border: 1px solid #006A50;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
}

/*Main Marking section 1*/
main {
    background-color: #f5f5f5;
    margin: 0px;
}

.hero-image {
    display: flex;
    padding: 80px 100px;
    margin: 0px 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 10px;
    text-align: left;
}

/*hero-text*/

.hero-text {
    font-family: "Fira Sans", serif;
}

#text {
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}

h1 {
    font-size: 50px;
    color: rgba(14, 14, 14, 1);
}

.btn {
    background-color: #006A50;
    color: #f5f5f5;
    font-size: 18px;
    margin: 24px 0px;
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.paragraph {
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.75);
    margin: 10px 0px;
}

.text2 {
    font-size: 40px;
    font-weight: 700;
    font-family: "Fira Sans", serif;
    margin: 32px;
    color: rgba(14, 14, 14, 1);

}

.cards {
    margin-top: 80px;
}

.pillers {
    font-family: "Fira Sans", serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    gap: 24px;
    margin: 32px 0px;
    padding: 0px;
}

.box {
    flex-direction: column;
    text-align: left;
    background-color: #fff;
    padding: 24px;
    margin: 0px 24px;
    gap: 24px;
    border-radius: 16px;

}

.BS {
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
}

/*Main Marking section 2*/
.BS2 {
    margin: 0px 32px;
    font-family: "Fira Sans", serif;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.75);
    /*giving margin to main paragraph*/
}

/*Box Design*/
.box2 {
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 24px;
    margin: 0px 32px;
    gap: 24px;
    border-radius: 16px;
}

#b1 {
    background-color: rgba(84, 144, 245, 0.2);
}

#b2 {
    background-color: rgb(198, 228, 214);
}

#b3 {
    background-color: rgb(247, 235, 207);
}

/*button design*/
.btnA {
    padding: 12px 20px;
    margin: 10px 0px;
    border: none;
    border-radius: 8px;
    color: #f5f5f5;
    font-size: 16px;
    cursor: pointer;
}

#clr1 {
    background-color: #5490F5;
}

#clr2 {
    background-color: #09A15C;
}

#clr3 {
    background-color: #FFC239;
}

/*challange 1 */
#quoto {
    position: absolute;
    padding: 0px;
    margin: 0px;
}

.opinion {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px 20px;
    margin: 32px;
    background-color: white;
    border-radius: 16px;
}

#cheif {
    font-size: 12px;
    margin: 12px 0px;
}

/*recent news*/
.news {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.box3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    background-color: #fff;
    border-radius: 16px;
    padding: 48px;
    gap: 32px;
    margin: 24px;
}

#satelite {
    border-radius: 16px;
}

font h2 {
    font-family: "Fira Sans", serif;
    font-size: 32px;
    font-weight: 500;
    color: rgba(14, 14, 14, 1);
}

.text3 {
    padding: 12px 0px;
}

.text3 span {
    font-family: "Fira Sans", serif;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.75);
}

.news-meta {
    -family: "Fira Sans", serif;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.75);
    padding: 12px 0px;
}

#reverse {
    flex-direction: row-reverse;
}

.donate,
.heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    margin: 80px 0px;
}

.heading h1 {
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
    text-align: center;
}

.heading p {
    font-family: "Fira Sans", serif;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.75);
    margin: 24px;
    align-self: stretch;
    letter-spacing: 0%;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.tk {
    background-color: #fff;
    color: rgba(14, 14, 14, 0.75);
    border: 1px solid rgba(14, 14, 14, 0.15);
    font-size: 30px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    border-radius: 16px;
    padding: 40px;
    margin: 0px 24px;
}

.tk:hover {
    background-color: rgba(198, 228, 214);
    cursor: pointer;
    transform: scale(1.05);
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60px;
    padding: 20px 40px 20px 40px;
    margin: 32px 0px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
}

.searchbar input {
    width: 100%;
    border: none;
    font-size: 30px;
    font-family: "Fira Sans", serif;
}

/*footer*/
.footer {
    background-color: rgb(198, 228, 214);
    padding: 80px 100px;
    margin: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.heading2 h1 {
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
    text-align: center;
}

.end {
    font-family: "Fira Sans", serif;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.75);
    margin: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.end-search {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    height: 50px;
}

.searchbar2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 8px 0px 0px 8px;
    border: none;
    background-color: #fff;
}

.searchbar2 input {
    width: 100%;
    border: none;
    font-size: 20px;
    font-family: "Fira Sans", serif;
}

.btn3 {
    background-color: #006A50;
    color: #f5f5f5;
    font-size: 18px;
    padding: 17px 34px;
    border: none;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
}